body {
    background-color: #466365;
}
div {
    background-color:  #b49a67;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 500px;
    margin-top: 20px;
}
p {
    margin: 50px 10px 50px 10px;
}
