body {
    background-color: antiquewhite;
    
}
#d1 {
    background-color: aquamarine;
    width:170px;
    height:170px;
    margin-left:300px;
    margin-top:80px;
    padding:25px;
}
#d2 {
    background-color: aquamarine;
    width:170px;
    height:170px;
    margin-left:500px;
    margin-top:-250px;
}
#d3 {
    background-color: aquamarine;
    width:170px;
    height:170px;
    margin-left:380px;
    margin-top:50px;
}
#d4 {
    background-color: aquamarine;
    width:170px;
    height:170px;
    margin-left:420px;
    margin-top:45px;
}
#d5 {
    background-color: aquamarine;
    width:170px;
    height:170px;
    margin-left:500px;
    margin-top:50px;
}
#d6 {
    background-color: aquamarine;
    width:170px;
    height:170px;
    margin-left:500px;
    margin-top:50px;
}
#d7 {
    background-color: aquamarine;
    width:170px;
    height:170px;
    margin-left:500px;
    margin-top:50px;
}
#d8 {
    background-color: aquamarine;
    width:170px;
    height:170px;
    margin-left:500px;
    margin-top:50px;
}
#d9 {
    background-color: aquamarine;
    width:170px;
    height:170px;
    margin-left:500px;
    margin-top:50px;
}
#d10 {
    background-color: aquamarine;
    width:170px;
    height:170px;
    margin-left:500px;
    margin-top:50px;
}
#d11 {
    background-color: aquamarine;
    width:170px;
    height:170px;
    margin-left:500px;
    margin-top:50px;
}
#d12 {
    background-color: aquamarine;
    width:170px;
    height:170px;
    margin-left:500px;
    margin-top:50px;
}
#d13 {
    background-color: aquamarine;
    width:170px;
    height:170px;
    margin-left:500px;
    margin-top:50px;
}
